.header {
    position: relative;
    height: 10vh;
    background: grey;
}

.header__container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

}
